# Ignorar node_modules
node_modules/

# Ignorar archivos de git
.git/
.gitignore

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar archivos de log
*.log
npm-debug.log*

# Ignorar archivos temporales
*.tmp
*.temp
